<!doctype html>
<html>
	<head>
		<% include includes/head %>
	</head>
	<body>
<% include includes/topbar %>
	<div class="callout primary">
		<div class="row column">
			<h1>欢迎来到智工网!!!</h1>
			<p class="lead">面向智能硬件制造行业专业的技术学习平台</p>
		</div>
	</div>
	<% for (var i in nameList) { %>
    <% if(i === "ee" || i === "vr" || i === "ai") { %>
		<div class="row callout training-callout small-up-1 medium-up-3 large-up-3">
   		<h3><a href="/page/<%= i %>"> <%= nameList[i] %>... </a></h3>
			<div class="column card">
			<% for (var j in videoList[i]) { %>
				<div class="card-section">
 		     <embed src="http://player.youku.com/player.php/sid/<%= j %>>/v.swf" quality="high" align="center" allowScriptAccess="sameDomain" type="application/x-shockwave-flash"></embed>
				</div>
				<div class="card-section">
							<h5 align="center"><%= videoList[i][j]["name"] %>  </h5>
							<p><%= videoList[i][j]["description"] %>  </p>
				</div>
			<% } %>
			</div>
		</div>
		<% } %>
	<% } %>
	<div class="row">
	<div class="medium-6 columns">
	<h3>Contact Me</h3>
	<p>专注智能工业的教育平台</p>
	<ul class="menu">
	<li><a href="#">微信</a></li>
	</ul>
	</div>
	<div class="medium-6 columns">
	<label>Name
	<input type="text" placeholder="Name">
	</label>
	<label>Email
	<input type="text" placeholder="Email">
	</label>
	<label>
	Message
	<textarea placeholder="holla at a designerd"></textarea>
	</label>
	<input type="submit" class="button expanded" value="Submit">
	</div>
	</div>
	</div>
</div>

<% include includes/js %>
<% include includes/foundation %>
<script>
$("[data-menu-underline-from-center] a").addClass("underline-from-center");
videoList("ee");
   	//<h3><a href="/page/<%= i %>"> <%= nameList[i] %>... </a></h3>
	  //<div class="column card">
		//	<div class="card-section">
    //  <embed src="http://player.youku.com/player.php/sid/XMTAzMzA3ODI0/v.swf" quality="high" align="center" allowScriptAccess="sameDomain" type="application/x-shockwave-flash"></embed>
		//	</div>
		//	<div class="card-section">
	  //  	<h5 align="center">Video</h5>
		//		<p> Video description ... </p>
		//	</div>
	  //</div>
function videoList(type){
	$.ajax({
		url : "/videoList/"+type,
		type : "GET",
		success: function(data){
			console.log("here");
			console.log(data);
			$("#contain"+type).append("h3").html("OKOK");
		},
		error : function(XMLHttpRequest, textStatus, errorThrown) { 
			alert("Status: " + textStatus,"Error"+errorThrown);
		}
	});

}
</script>


	</body>
</html> 
